<?xml version="1.0" encoding="UTF-8"?>
    <plugin
      xmlns="http://apache.org/cordova/ns/plugins/1.0"
      id="cordova-plugin-locktask"
      version="1.0.0" >
      <name>cordova-plugin-locktask</name>
      <description>A Cordova plugin that provides access to Android’s screen pinning APIs</description>
      <license>Apache 2.0</license>
      <keywords>cordova,android,screen pinning,startLockTask,stopLockTask,lollipop,api 21</keywords>
      <js-module src="www/LockTask.js" name="LockTask">
        <clobbers target="LockTask" />
      </js-module>
      <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
          <feature name="LockTask">
            <param
              name="android-package"
              value="es.mschez.plugins.LockTask" />
          </feature>
        </config-file>
        <source-file
          src="src/android/es/mschez/plugins/LockTask.java"
          target-dir="src/es/mschez/plugins" />
      </platform>
    </plugin>
